/* 3 Mules website styles */
/* colours

3 Mules green: #109560

*/

body
{
background: #eceddf;
padding-top: 0;
color: #545454;
font-size: 14px;
font-family: "pragmatica-web",sans-serif;
font-style: normal;
font-weight: 400;
line-height: 16px;
}

.navbar-inner
{
background: #eceddf;
padding-left: 0;
padding-right: 0;
-webkit-box-shadow: 0 0 0;
-moz-box-shadow: 0 0 0;
box-shadow: 0 0 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.navbar .brand {
padding: 20px 20px 12px;
}

.navbar .nav {
margin-top: 45px;
float: right;
}

.navbar .nav li {
	font-size: 16px;
	list-style-type: none;
	zoom: 1;
	padding: 15px 10px 10px 20px;
	background-image: url('../img/nav-slash.png');
	background-position: left center;
	background-repeat: no-repeat;
	text-shadow: none;
}

.navbar .nav li:first-child {
background: none;
}

.navbar .nav li a {
	text-shadow: none;
}

.navbar .nav li a:hover, .navbar .nav li a.current {
	text-shadow: none;
	color: #46750f;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

/*Typography */

h1, h2, h3, h4, cite {
font-family: "proxima-nova-1","proxima-nova-2", sans-serif;
color: #46750f;
font-weight: normal;
font-style: normal;
}

p {
line-height: 20px;
margin: 0 0 20px 0;
}

/* Home page */

#welcome
{
background: #fff;
padding: 30px 0;
margin-bottom: 30px;
}

#welcome h1
{
color: #a1c357;
font: 20px/20px "proxima-nova-1","proxima-nova-2", sans-serif;
letter-spacing: 2px;
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 20px;
}

#welcome p {
	font-size: 18px;
	line-height: 24px;
}

.box {
	background: #fff;
	padding: 15px 20px 30px 20px;
	margin-bottom: 20px;
	border-bottom: solid 2px #ccc;
	border-top: solid 1px #ececec;
	border-left: solid 1px #ececec;
	border-right: solid 1px #ececec;
	
}

#what-we-do h1 {
	font: 20px/20px "proxima-nova-1","proxima-nova-2", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: dotted 2px #a1c357;
	padding-bottom: 5px;
	color: #46750f;
}

#what-we-do .box img {
	float: left;
	margin-right: 10px;
}
	
#what-we-do .box h2 {
	margin: 20px 0 30px 0;
}

footer {
	margin-top: 30px;
	border-top: dotted 1px #a1c357;
	padding-top: 20px;
	background: #333;
	color: #ccc;
	font-size: 12px;
}

footer .box {
	background: #333;
	border: none;
}

footer h4 {
		color: #a1c357;
		font: 16px/16px "proxima-nova-1","proxima-nova-2", sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 10px;
}

.circle	{	
	height: 20px;
	width: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #a1c357;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 23px;	
	}
	
#maincontent img {
	padding: 2px;
	border: solid 1px #ccc;
}

#maincontent .team-member {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: dotted 1px #a1c357;
	
}

#maincontent img.team {
	border: none;
	margin: 0 0 20px 0;
}

#maincontent img.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

#maincontent img.alignright {
	float: right;
	margin: 0  0 10px 10px;
}

#maincontent h1 {
	border-bottom: solid 1px #a1c357;
	padding-bottom: 5px;
	margin-bottom: 20px;
}