/* 3 Mules website styles */
/* colours

3 Mules green: #109560

*/

body
{
background: #eceddf;
padding-top: 0;
color: #545454;
font-size: 14px;
font-family: "rooney-sans",sans-serif;
font-style: normal;
font-weight: 400;
line-height: 16px;
}



.navbar-inner
{
background: #eceddf;
padding-left: 0;
padding-right: 0;
-webkit-box-shadow: 0 0 0;
-moz-box-shadow: 0 0 0;
box-shadow: 0 0 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}

.navbar .brand {
padding: 20px 20px 12px;
}

.navbar .nav {
margin-top: 45px;
float: right;
}

.navbar .nav li {
	font-size: 16px;
	list-style-type: none;
	zoom: 1;
	padding: 15px 10px 10px 20px;
	background-image: url('../img/nav-slash.png');
	background-position: left center;
	background-repeat: no-repeat;
	text-shadow: none;
}

.navbar .nav li:first-child {
background: none;
}

.navbar .nav li a {
	text-shadow: none;
}

.navbar .nav li a:hover, .navbar .nav li a.current {
	text-shadow: none;
	color: #46750f;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	transition: all ease 0.3s;
}

/*Typography */

h1, h2, h3, h4, cite {
font-family: "proxima-nova", sans-serif;
color: #46750f;
font-weight: normal;
font-style: normal;
font-weight: 400;
}

p {
line-height: 20px;
margin: 0 0 20px 0;
}

#maincontent h1 {
	font: 20px/20px "proxima-nova", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
	border-bottom: dotted 1px #a1c357;
	padding-bottom: 5px;
	color: #a1c357;
	font-style: normal;
	font-weight: 600;
}


/* Home page */

#welcome
{
background: #fff;
padding: 30px 0;
margin-bottom: 30px;
}

#welcome h1
{
color: #a1c357;
font: 20px/20px "proxima-nova", sans-serif;
letter-spacing: 2px;
text-transform: uppercase;
margin-top: 20px;
margin-bottom: 20px;
font-style: normal;
font-weight: 400;
}

#welcome p {
	font-size: 18px;
	line-height: 24px;
}

.box {
	background: #fff;
	padding: 15px 20px 30px 20px;
	margin-bottom: 20px;
	border-bottom: solid 2px #ccc;
	border-top: solid 1px #ececec;
	border-left: solid 1px #ececec;
	border-right: solid 1px #ececec;	
}

.section {
	background: #fff;
	padding: 15px 20px 30px 20px;
	margin-bottom: 20px;
}

.top-section {
	background: #fff;
	padding: 15px 20px 15px 20px;
	margin-bottom: 0px;
}

#home-what-we-do h1 {
	font: 20px/20px "proxima-nova", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: dotted 1px #a1c357;
	padding-bottom: 5px;
	color: #46750f;
	font-style: normal;
	font-weight: 400;
}

#home-what-we-do .box img {
	float: left;
	margin-right: 10px;
}
	
#home-what-we-do .box h2 {
	margin: 20px 0 30px 0;
}



/* What we do */

#what-we-do, #work {
	background: #fff;
	margin-bottom: 20px;
	border-bottom: solid 2px #ccc;
	border-top: solid 1px #ececec;
	border-left: solid 1px #ececec;
	border-right: solid 1px #ececec;
}

#maincontent #what-we-do img {
	float: left;
	margin-right: 10px;
	border: 0;
	padding: 0;
}

#what-we-do h2 {
	margin: 20px 0 30px 0;
}

#what-we-do p {
	clear: left;
}

#what-we-do .section ul {
	padding: 0;
	margin: 0;
}


#what-we-do .section li {
	list-style-type: none;
	padding-left: 35px;
	background: url('../img/icon-circle-tick.png') no-repeat 0px 4px;
	line-height: 35px;
	border-bottom: dotted 1px #ccc;
	margin-top: 7px;
}

/* work */

#maincontent img.screenshot {
	border: none;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 8px 6px -6px #333;
	-moz-box-shadow: 0 8px 6px -6px #333;
	box-shadow: 0 8px 6px -6px #333;
}



#maincontent #work h2 {
	font: 16px/16px "proxima-nova", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 20px;
	border-bottom: dotted 1px #a1c357;
	padding-bottom: 5px;
	color: #a1c357;
	font-style: normal;
	font-weight: 600;
}

.work-profile ul {
	margin: 0 0 20px 0;
	padding: 0;
}

.work-profile li {
	list-style-type: none;
	padding-left: 25px;
	background: url('../img/icon-circle-tick-small.png') no-repeat 0px 6px;
	line-height: 25px;
	border-bottom: dotted 1px #ccc;
	margin-top: 7px;
}


/* Footer */


footer {
	margin-top: 30px;
	border-top: dotted 1px #a1c357;
	padding-top: 20px;
	background: #333;
	color: #ccc;
	font-size: 12px;
}

footer .box {
	background: #333;
	border: none;
}

footer h4 {
		color: #a1c357;
		font: 16px/16px "proxima-nova", sans-serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		margin-top: 0px;
		margin-bottom: 10px;
		font-style: normal;
		font-weight: 600;
}

.circle	{	
	height: 20px;
	width: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #a1c357;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	line-height: 22px;	
	}
	
footer ul {
	padding: 0;
	margin: 10px 0;
}

footer li {
	list-style-type: none;
	margin: 5px 0;
	border-bottom: dotted 1px #f5f5f5;
	padding: 5px 0;
}

footer li a {
	color: #f5f5f5;
	text-decoration: none;
}

footer li a:hover {
	color: #f5f5f5;
	text-decoration: underline;
}

footer li span {
	font-weight: bold;
}
	
	
/*main content */
	
#maincontent img {
	padding: 2px;
	border: solid 1px #ccc;
}

#maincontent .team-member {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: dotted 1px #a1c357;
	
}

#maincontent img.team {
	border: none;
	margin: 0 0 20px 0;
}

#maincontent img.alignleft {
	float: left;
	margin: 0 10px 10px 0;
}

#maincontent img.alignright {
	float: right;
	margin: 0  0 10px 10px;
}

/* Aside */

.widget h4
{
	font: 14px/14px "proxima-nova", sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 10px;
	border-bottom: dotted 1px #a1c357;
	padding-bottom: 5px;
	color: #a1c357;
	font-style: normal;
	font-weight: 600;
}

.widget ul {
	margin: 0 0 20px 0;
	padding: 0;
}

.widget li {
	list-style-type: none;
	margin: 5px 0;
	border-bottom: dotted 1px #ccc;
	padding: 5px 0;
}

.widget li span {
	font-weight: bold;
}


